site_name: "Hackathon 2025 RGM Optimizer"


theme:
  name: material
  features:
    - navigation.instant
    - navigation.path
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  palette:
    # Dark mode (default)
    - scheme: slate
      primary: black
      accent: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Light mode
    - scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  font:
    text: "Roboto"
    code: "Roboto Mono"

nav:
  - Overview: index.md
  - Solution:
      - Round 1 Elasticity Model: round1_elasticity.md
      - Pricing Optimizer: pricing_optimizer.md
      - Case Study - Aguila 330 RB: case_study_aguila.md
  - Presentation Narrative: presentation_story.md
  - Engineering: engineering.md
  - GenAI & Roadmap: genai_future.md
  - Appendices:
      - Functional Requirements: functional_requirements.md
      - Web App Design Notes: webapp_instructions.md

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - meta
  - def_list
  - abbr
  - tables
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.smartsymbols

plugins:
  - search

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
